core/emacs.el
private
elpa
history
projectile*
transient
straight
url
*~
recentf
.dap-breakpoints
.org-id-locations
auto-save-list/
bookmarks
company-statistics-cache.el
recentf
snippets
url/
persp-confs
magithub

.extension

.lsp-session-v1
network-security.data
var/
